body{
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    background-image: url(../images/login-bg.jpg);
    background-position: center;
  }
  .loginbox{
    width: 320px;
    height: 420px;
    /**background-color: #23cdeb;**/
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 2px solid #23cdeb ;
    box-sizing: border-box;
    padding: 70px 30px;
  
  }
  #logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  
  }
  h1{
    margin: 0;
    padding: 0;
    font-size: 22;
    text-align: center;
    font-size: 22px;
    color: white;
    
  }
  .loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
  
  }
  .loginbox input{
    width: 100%;
    margin-bottom: 20px;
  
  }
  .loginbox input[type="text"], input[type="password"]
  {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color: #fff;
    height: 40px;
    font-size: 16px;
  
  
  }
  .loginbox input[type="submit"]
  {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background: #fb2525;
    border-radius: 20px;
  
  }
  .loginbox input[type="submit"]:hover
  {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  .loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
  }
  .loginbox a:hover{
    color: #ffc107;
  }
  .fa-copyright{
    text-align: center;
  }