
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    border-left: 2px solid #23cdeb;
    border-bottom: 2px solid #111111;
    text-align: left;
    font-size: large;
    margin-left: 3px;
    display: inline-block;
    text-align: center;
    padding: 4px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: block;
}
button{
    margin-left: 500px;
    margin-top: 4px;
}
tbody tr:hover{
    outline: #23cdeb solid 2px;

}
thead{
    background-color: #2858a6;
    color: white;
}
.wrapper{
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
}
nav{
    display: flex;
    position: relative;
    right: -1070px;
    margin-right: 50px;

    
}
.wrapper nav ul{
    display: flex;
    margin-left: 4px;
    padding: 2px;
}
.wrapper nav ul li{
    list-style: none;
}
.wrapper nav ul li a{
    text-decoration: none;
    font-size: larger;
    color: white;
    margin-left: 4px;
    padding: 2px;

}
.wrapper nav ul li a:hover{
    color: #e61e4c;
}


.button-22 {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin-left: 30px;
    padding-left: 3px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 60px;
  }
  .button-22 a{
      text-decoration: none;
      color: white;
  }
  
  .button-22:active {
    background-color: #006AE8;
  }
  
  .button-22:hover {
    background-color: #1C84FF;
  }
